// **************
// **************
// App Variables
// developer: Sklyarov Alexey
// **************
// **************


// **************
// App Fonts
// **************

$font: 'Nunito',sans-serif;



// **************
// App Colors
// **************

$orange: #ffb800;
// $orange: #4e7cff;

$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
